* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "NEXT-ART";
  src: url(../fonts/ART_SemiBold.otf);
}

:root {
  --primary-color: #fdfdfd;
  --second-color: #171717;
}

::placeholder {
  color: var(--primary-color);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:hover {
  opacity: 0.9;
}

input:focus {
  color: white;
}

.body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

header {
  background-image: url(image/1.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 20px;
}

.header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  gap: 100px;
}
.header-block__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .header_logo {
      max-width: 137px;
      max-height:72px; 
    } */

.header__logo--secondary {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
}
.form-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 3px;
}

.header-button {
  font-size: 16px;
  margin: 10px;
  padding: 12px 24px;
  color: var(--primary-color);
  font-weight: 600;
  background-color: #1a3e3e;
  border-radius: 4px;
}

.header-text {
  font-family: "NEXT-ART";
  font-weight: 700;
  color: var(--primary-color);
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 2%;
  padding-bottom: 20px;
}

.header_wrapper {
  max-width: 1160px;
}

.register-form,
.main-input,
.register-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  color: var(--primary-color);
}
.header-input__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--primary-color);
  margin: 10px;
  position: relative;
  gap: 5px;
}

.header-input {
  padding: 10px;
  border-radius: 8px;
  min-width: 270px;
  background-color: #ffffff33;
  color: var(--primary-color);
}

.register-form {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  flex-wrap: wrap;
}

.register-button {
  background-color: var(--primary-color);
  color: #1a3e3e;
  border-radius: 8px;
  margin-top: 18px;
  min-width: 213px;
  max-height: 52px;
}
.header-form {
  display: flex;
  background-color: #ffffff33;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 1250px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.register-form-img {
  position: absolute;
  top: 510px;
  left: 455px;
}

.register-button-media {
  display: none;
}

/* 2 блок */

.main {
  margin: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1180px;
  min-height: 526px;
  color: var(--second-color);
  position: relative;
  gap: 230px;
}

.main-img-two {
  padding: 0px;
  border-radius: 24px;
  min-height: 400px;
  min-width: 350px;
}

.main-video {
  position: absolute;
  background-size: cover;
  top: 20%;
  left: 10%;
  min-height: 400px;
  min-width: 350px;
  border-radius: 24px;
  background-color: aliceblue;
  object-fit: cover;
}

.main-block__secondary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-links {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  list-style-type: none;
  gap: 10px;
  min-width: 580px;
}

.content__title,
.main__title,
.travel__title,
.form__title,
.form__title--mobile,
.grid_title,
.price_title {
  color: #f2be22;
  font-size: 24px;
}
.main_text,
.content__text,
.travel__text,
.form__text,
.grid_text,
.price_text {
  color: #18121e;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}
.main_description,
.content_description {
  color: #18121e;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.content__text--secondary,
.form__text--secondary,
.form__text--secondary--mobile {
  color: #18121e;
  font-weight: 700;
  letter-spacing: 1.2%;
}
.content__text--secondary {
  font-size: 18px;
  line-height: 20px;
}

.form__text--secondary {
  font-size: 26px;
}

button {
  color: var(--primary-color);
  background-color: #1a3e3e;
  max-height: 52px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}

.main-button {
  margin-top: 20px;
  max-width: 200px;
}

/* 3 блок */

.content-button {
  max-width: 200px;
}

.content-block {
  background-color: #f3f5f4;
  width: 100%;
  min-height: 771px;
  padding: 10px 30px;
}
.content {
  margin: 30px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1920px;
  max-height: 771px;
  gap: 40px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 580px;
  max-height: 591px;
  margin: 3px 0px;
}

.content-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  min-width: 580px;
  min-height: 591px;
}

.content-img {
  padding: 0px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 510px;
  max-height: 510px;
  margin: 20px;
}
.content-wrap {
  max-width: 580px;
  max-height: 591px;
}

.img-block1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-wrapper__img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img3 .img4 {
  padding: 0px;
  border-radius: 0px 50px;
  min-width: 250px;
  min-height: 250px;
}

.content-block__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main-svg {
  min-width: 50px;
  min-height: 50px;
}

/* 4 блок */

.bg-text h1 {
  font-size: 24px;
}
.price-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.price-images-wrapper {
  display: flex;
  border-radius: 32px;
}

.price-images__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.bg-text {
  padding: 0px 15px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 4px;
  padding: 8px;
  margin: 20px auto;
}
.img10 {
  min-width: 17.11px;
  min-height: 16.36px;
}
.bg-text2 {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translate(-100%, 150%);
  max-height: 32px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 4px;
  padding: 4px 8px;
}

.price-secondary {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.price-button {
  margin-bottom: 50px;
}

.bg-images-anim {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background-color: rgba(220, 220, 220, 0.5);
  width: 380px;
  color: white;
  padding: 0px 15px;
  border-radius: 0px 0px 30px 30px;
  font-family: "Nunito Sans", sans-serif;
  transition: 1s;
}
.bg-images:hover .bg-images-anim {
  transform: translateY(-101%);
  opacity: 1;
}
.card {
  overflow: hidden;
}

/* 5 блок  */

.travel-main {
  background-color: #f3f5f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.travel-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 70px;
}

.travel-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  max-height: 1036px;
  gap: 20px;
}
.travel-container {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.img11,
.img12,
.img13,
.img14 {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 16px;
  border-radius: 6px;
}

.travel-block {
  min-width: 580px;
  min-height: 312px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--primary-color);
}

.travel-text {
  max-width: 294px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.travel-date__wrapper {
  color: #f2be22;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.travel-date__text {
  color: #1a3e3e;
  font-size: 14px;
  font-weight: 700;
}
.travel-date {
  display: flex;
  justify-content: space-around;
}

.form-button,
.travel-button,
.grid-button {
  padding: 10px 20px;
}
.form-button {
  width: 100%;
}

.travel-button {
  margin: 30px 0px 90px 0px;
}

/* 6 блок */

.grid-block {
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.grid-button {
  margin-top: 70px;
  margin-bottom: 180px;
}
.grid-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.grid-img {
  display: grid;
  min-width: 1180px;
  max-height: 520px;
  padding: 16px;
  box-sizing: border-box;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid-photo__1 {
  grid-row: 1 / 1;
  grid-column: 1 / 3;
}
.grid-photo__2 {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}
.grid-photo__3 {
  grid-column: 4 / 5;
  grid-row: 1 / 1;
}
.grid-photo__4 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}
.grid-photo__5 {
  grid-column: 2 / 4;
  grid-row: 2/ 2;
}
.grid-photo__6 {
  grid-column: 4 / 5;
  grid-row: 2 / 2;
}

/* 7 блок */
.form__title--mobile,
.form__text--secondary--mobile {
  display: none;
}

.form-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1180px;
  max-height: 196px;
  background-color: #fdfdfd;
  border-radius: 6px;
  margin: 20px 250px;
  position: absolute;
  gap: 20px;
  top: 565%;
  background-size: cover;
  padding: 40px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.form-main {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.form-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}
.form-text-two {
  color: #171717;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}
.email-text {
  color: #171717;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-family: "Nunito Sans", sans-serif;
}
.form-input {
  padding: 16px;
  border-radius: 4px;
  max-width: 280px;
  max-height: 44px;
  background-color: #f3f5f4;
}

/* 8 блок */

.footeer {
  background-color: #1a3e3e;
  max-width: 100%;
  max-height: 587px;
}
.footeer-block {
  display: flex;
  justify-content: space-evenly;
  padding: 150px 150px;
  gap: 30px;
}
.footeer-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Nunito Sans", sans-serif;
}

.footeer-description {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.footeer-wrapper {
  min-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footeer-block__secondary {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}
.footeer-text {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
