@media screen and (max-width: 600px) {
  .header-button {
    display: none;
  }

  .header {
    padding: 0px;
  }

  .header-text {
    font-size: 28px;
    line-height: 42px;
    min-width: 345px;
  }

  .register-form {
    display: none;
  }

  .header-block {
    display: flex;

  }
  .header-block-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 298px;
    padding-bottom: 80px;
    padding-left: 16px;
  }

  .header-logo-two {
    display: block;
    max-width: 20%;
    max-height: 18%;
  }
  .header-logo {
    max-width: 80%;
    max-height: 5%;
  }

  .links {
    display: none;
  }

  .hed {
    display: none;
  }

  .register-button-media {
    display: block;
    background-color: var(--primary-color);
    color: #1a3e3e;
    border-radius: 4px;
    max-width: 213px;
    max-height: 52px;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2%;
  }

  .wrapper-content-block2 {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-img-two{
    display: none;
  }

  .main{
    display: flex; 
    flex-direction: column;
    min-width: 358px;
    min-height: 826px;
    color:var(--second-color);
    gap: 40px;
   }

   .main-video{
    position: relative;
    width: 90vw;
    height: 90vh;
    border-radius: 24px;
}

.main-block-two
{
   margin: 10px;
 }
 .content-img{
   display: none;
}

.content-wrap{
   display: flex;
   flex-direction: column;
   justify-content: none;
   max-height: nonepx;
   margin:0px; 
}

.content-block{
  display: block;
  padding: 5px;
  width: 100%;
  min-height: none;
}
.content-links{
 display: flex;
 flex-direction: column;
 align-items: none;
 justify-content: none;
 padding: 10px;
 gap: 10px;
 min-width: none;
 min-height: none;
}

.travel-container{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.travel-block{
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
} 
.travel-sc{
  /* min-width: 285px;
  min-height: 496px; */
  display: flex;
  overflow-x: scroll;
}

.travel-text{
  min-width: 285px;
  min-height: 200px;
  gap: 16px;
  padding: 16px;
}
.img11, .img12, .img13, .img14{
  padding: 0px;
  border-radius: 6px;
  min-width: 285px;
  min-height: 280px;
}

.form-block{
  display: flex;
  flex-direction: column;
  max-width: 358px;
  max-height: 351px;
  background-color: #FDFDFD;
  gap: 10px;
  margin: 0 auto;
  position: relative;
}
.form-main{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-text-4{
  font-size: 24px;
  line-height: 28.8px;
}
.form-text{
  font-size: 14px;
  line-height: 18px;
}
.form-button{
  border-radius: 4px; 
  padding: 12px 24px;
}
.form-links{
  padding-left: 0px;
}
}



@media screen and (max-width: 1187px) {
  .header-logo-two {
    display: block;
  }
  .header-button {
    display: none;
  }
  .register-form {
    display: none;
  }
  .links {
    display: none;
  }
  .header-form {
    display: none;
  }
  .register-button-media {
    display: block;
    background-color: var(--primary-color);
    color: #1a3e3e;
    border-radius: 4px;
    max-width: 213px;
    max-height: 52px;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2%;
  }
  .header-text {
    font-size: 36px;
    line-height: 62px;
    min-width: 345px;
  }
  .header-block
  {
    display: flex;
    justify-content: space-between;
  }
  .main{
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 358px;
  min-height: 826px;
  color:var(--second-color);
  gap: 30px;
  margin: 0px;
 }
 .main-img-two{
  display: none;
}
.main-video{
  position: relative;
  max-height: 416px;
  max-width: 358px;
  border-radius: 24px;
  margin: 50px;
}
.main-block-two
{
  margin: 10px;
 }

.content{
  margin: 0px; 
  display: flex; 
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  max-width: none;
  max-height: none;
  gap: 50px;
}
/* .travel-container{
  gap: 24px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

}
